bidict==0.23.1
blinker==1.9.0
click==8.3.0
colorama==0.4.6
Flask==2.3.3
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.0.5
greenlet==3.2.4
gunicorn==23.0.0
h11==0.16.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==25.0
psycopg2-binary==2.9.9
python-dotenv==1.0.0
python-engineio==4.12.3
python-socketio==5.10.0
simple-websocket==1.1.0
SQLAlchemy==2.0.44
typing_extensions==4.15.0
Werkzeug==2.3.7
wsproto==1.2.0
